@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scroll-single {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll-single {
  animation: scroll-single 6s linear infinite;
}

