@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scroll-single {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll-desktop {
  animation: scroll-single 24s linear infinite;
  animation-fill-mode: forwards;
}

.animate-scroll-extra-wide {
  animation: scroll-single 32s linear infinite;
  animation-fill-mode: forwards;
}

.animate-scroll-mobile {
  animation: scroll-single 12s linear infinite;
  animation-fill-mode: forwards;
}
.animate-scroll-tablet {
  animation: scroll-single 8s linear infinite;
  animation-fill-mode: forwards;
}